.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3874ff;
  padding: 10px 20px;
  margin-bottom: 50px;
  border-radius: 10px;
}
.header a {
  text-decoration: none;

  font-weight: 600;
  font-size: 1.3rem;
}
.footer {
  text-align: center;
  background-color: #3874ff;
  padding: 20px;
  margin-top: 80px;
  border-radius: 10px;
}
.navBar {
  display:flex;
  justify-content: space-evenly;
  width: 300px;
  /* border:1px solid red; */
  color: #fff;
}
.active{
  color:#fff;
}
